// Text inputs
$inputs-list: 'input[type="email"]',
              'input[type="number"]',
              'input[type="password"]',
              'input[type="search"]',
              'input[type="tel"]',
              'input[type="text"]',
              'input[type="url"]',
              'input[type="color"]',
              'input[type="date"]',
              'input[type="datetime"]',
              'input[type="datetime-local"]',
              'input[type="month"]',
              'input[type="time"]',
              'input[type="week"]';

$unquoted-inputs-list: ();

@each $input-type in $inputs-list {
  $unquoted-inputs-list: append($unquoted-inputs-list, unquote($input-type), comma);
}

$all-text-inputs: $unquoted-inputs-list;

// Container
@mixin container {
  margin: 0 auto;
  max-width: $max-width; 
}

// Font face
@mixin font-face($family, $src, $style: normal, $weight: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$src}.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$src}.woff') format('woff'); /* Pretty Modern Browsers */

		font-style: $style;
		font-weight: $weight;
	}
}

// Media queries
@mixin media($max-width: $mobile) {
  @media only screen and (max-width: $max-width) { @content; }
}

// REM formula
@function rem($target, $context: $font-size) {
  $target-context-num: $target/$context * 1rem;
  @return $target-context-num;
}